affine==2.0.0.post1
appdirs==1.4.3
Babel==1.3
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
beautifulsoup4==4.4.1
bleach==1.5.0
boto==2.47.0
bunch==1.0.1
bz2file==0.98
bzr-etckeeper==0.0.0
certifi==2017.11.5
cffi==1.5.2
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
collectd==1.0
collectd-cuda==0.0.3
configparser==3.5.0
cryptography==1.2.3
cycler==0.10.0
cymem==1.31.2
Cython==0.25.2
cytoolz==0.8.2
dask==0.13.0
decorator==4.1.2
descartes==1.0.2
dill==0.2.7.1
dnspython==1.12.0
docopt==0.6.2
docutils==0.12
easydict==1.6
editdistance==0.3.1
entrypoints==0.2.3
enum34==1.1.6
feedparser==5.1.3
freeipa==2.0.0a0
ftfy==4.4.3
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
gdata==2.0.18
gensim==2.2.0
gssapi==1.1.3
h5py==2.7.1
html5lib==0.9999999
humanize==0.5.1
idna==2.6
iotop==0.6
ipaclient==4.3.1
ipaddress==1.0.16
ipalib==4.3.1
ipaplatform==4.3.1
ipapython==4.3.1
ipykernel==4.7.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.0
Jinja2==2.10
joblib==0.10.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.30.6
jupyterlab-launcher==0.6.0
Keras==1.2.0
keras-sequential-ascii==0.1.0
keras-tqdm==2.0.0
kitchen==1.2.4
Lasagne==0.1
linecache2==1.0.0
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.1
mistune==0.8.3
mock==2.0.0
more-itertools==2.2
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
neptune-cli==1.6.3
neptune-worker==1.3.0
netaddr==0.7.18
networkx==2.0
nltk==3.2.5
notebook==5.2.2
numpy==1.13.3
olefile==0.44
opencv-python==3.4.0.12
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
pathlib==1.0.1
pathlib2==2.3.0
pbr==1.8.0
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
plac==0.9.6
ply==3.7
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.4.0
psutil==3.4.2
psycopg2==2.6.1
ptyprocess==0.5.2
pyasn1==0.1.9
PyChart==1.39
pycparser==2.14
pycrypto==2.6.1
pycurl==7.43.0
pydicom==0.9.9
pydot==1.0.29
Pygments==2.2.0
pygobject==3.20.0
pyinotify==0.9.6
pykwalify==1.5.2
PyOpenGL==3.0.2
pyOpenSSL==0.15.1
pyparsing==2.2.0
Pyrex==0.9.8.5
Pyste==0.9.10
python-apt==1.1.0b1
python-chess==0.16.1
python-dateutil==2.6.1
python-ldap==2.4.22
python-memcached==1.53
python-nss==0.16.0
python-openid==2.2.5
python-stdnum==1.2
python-yubico==1.3.1
pytz==2017.3
pyusb==1.0.0b2
PyWavelets==0.5.2
PyWebDAV==0.9.8
PyYAML==3.12
pyzmq==16.0.3
qrcode==5.0.1
qtconsole==4.3.1
rasterio==0.36.0
ratelimiter==1.2.0
regex==2017.4.5
reportlab==3.3.0
requests==2.18.4
roman==2.0.0
scandir==1.6
scapy==2.2.0
scikit-image==0.13.1
scikit-learn==0.18.1
scipy==0.18.1
scour==0.32
seaborn==0.8.1
Shapely==1.5.17.post1
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.5.3
snuggs==1.4.1
spacy==2.0.5
stevedore==1.19.1
subprocess32==3.2.7
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc2
termcolor==1.1.0
terminado==0.8.1
terminaltables==2.1.0
testpath==0.3.1
Theano==0.8.2
thinc==6.10.2
tifffile==0.10.0
toolz==0.9.0
torch==0.3.0.post4
torchvision==0.2.0
tornado==4.5.2
tqdm==4.19.5
traceback2==1.4.0
traitlets==4.3.2
ujson==1.35
unittest2==1.1.0
urllib3==1.22
uTidylib==0.2
vatnumber==1.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
vobject==0.8.1rc0
voluptuous==0.9.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.35.0
Werkzeug==0.12.2
widgetsnbextension==3.1.0
wrapt==1.10.11
xgboost==0.6a2
xlrd==1.1.0
xlwt==0.7.5
ZSI==2.1a1
